.container {
  background-image: url("./images/meadow.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 50px; // タイトルのフォントサイズを変数に設定
}

.password_field {
  text-align: center;
  margin: 4rem 0 5rem 0;
  font-size: 2rem;

  .password_form {
    display: inline-block;
    margin: 0 0 0 0;
  }

  input {
    width: max(50%, 480px);
    text-align: left;
    border-top-left-radius: 15em;
    border-top-right-radius: 15em;
    border-bottom-left-radius: 15em;
    border-bottom-right-radius: 15em;
    border-radius: 40em 40em 40em 40em;
    border: 0.25em solid palevioletred;
  }
}

.password_retype_field {
  text-align: center;
  margin: 2rem 0 0 0;
  font-size: 2rem;
}

.password_retype_form {
  text-align: center;
  margin: 0 0 0 0;
}

.submit_button_field {
  text-align: center;

  .submit_button {
    display: inline-block;
    color: azure;
    font-weight: bold;
    background-color: #df0013;
    border-bottom: 5px solid #9f000c;
    border-radius: 100vh;
    border-color: #9f000c;
    top: calc(50% - 0.5em);
    right: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 2rem;
  }

  .submit_button:hover {
    margin-top: 0.2rem;
    border-bottom: 0.2rem solid #9f000c;
    cursor: pointer;
  }
}
