.container {
    font-size: 2.5rem;
    background-color: #7ec7d8;
    padding-bottom: 5rem;
}
.top_line {
    display: flex;
    max-width: max(100%, 480px);
    justify-content: space-between;
}
.title {
    margin: 3rem;
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 30vh;
}
.logout {
    padding: 3rem;
}
.menu {
    max-width: max(50%, 480px);
    margin: 0 auto 0%;
    padding: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    border-radius: 10vh;
    background-color: white;
    font-size: 2.5rem;
}
.first_line {
    display: flex;
    justify-content: space-between;
}
.second_line {
    display: flex;
    justify-content: space-between;
}
.book,
.question,
.seal,
.announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    button {
        width: 12rem;
        height: 5rem;
    }
}
.submit_button {
    display: inline-block;
    color: azure;
    font-weight: bold;
    background-color: #df0013;
    border-bottom: 50% solid #9f000c;
    border-radius: 100vh;
    border-color: #9f000c;
    top: calc(50% - 0.5rem);
}
.submit_button:hover {
    margin-top: 0.2rem;
    border-bottom: 0.1rem solid #9f000c;
    cursor: pointer;
}