.container {
    font-size: 2.5rem;
    background: linear-gradient(50deg, hsl(200, 70%, 90%), hsl(200, 70%, 80%), hsl(200, 70%, 70%), hsl(200, 70%, 60%), hsl(200, 70%, 50%), hsl(200, 40%, 40%));
    min-height: 100vh;
    h1 {
        font-size: 2.5rem;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    hr {
        border-top: 1px solid black;
    }
}

.top_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}
.logout {
    display: flex;
    align-items: center;
    padding: 2rem 2rem 0 0;
}

.menu {
    max-width: max(50%, 480px);
    margin: 0 auto 0%;
    padding: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    border-radius: 10vh;
    background-color: white;
    font-size: 2.5rem;
}

.first_line {
    display: flex;
    justify-content: space-between;
}

.second_line {
    display: flex;
    justify-content: space-between;
}

.book,
.question,
.seal,
.announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    button {
        width: 12rem;
        height: 5rem;
    }
}

.submit_button {
    display: inline-block;
    color: azure;
    font-weight: bold;
    background-color: #df0013;
    border-bottom: 50% solid #9f000c;
    border-radius: 100vh;
    border-color: #9f000c;
    transition: box-shadow 0.3s ease;
    top: calc(50% - 0.5rem);
}
.submit_button:hover {
    box-shadow: 0 0.2rem #9f000c;
    cursor: pointer;
}
