// UI班へ
// ピースのCSSは src/features/puzzle/play/Piece/index.module.scss を
// ボード（はめるとこ）のCSSは src/features/puzzle/play/Board/index.module.scss を編集してください
// このコメントはプルリクを送る際には削除してください

.container {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.preview_image_wrapper {
  position: relative;

  /*完成イラスト*/
  .image {
    position: absolute;
    right: 1rem;
    top: -18rem;
  }
}

.reset_button {
  position: absolute;
  width: 10rem;
  height: 5rem;
  border-radius: 50%;
  left: 0.5rem;
  top: 0.5rem;
  background-color: rgb(255, 130, 130);
  font-size: 1.8rem;
  font-weight: bold;
}

.board_piece {
  position: relative;
  top: 7rem;
  right: 10rem;

  .board {
    display: inline-block;
    width: fit-content;
    margin: 0 2.5rem 0 2.5rem;
  }

  .piece {
    display: inline-block;
    width: fit-content;
    margin: 0 2.5rem 0 2.5rem;
    font-size: 2rem;
    font-weight: bold;
  }
}

.board>.piece {
  margin: 0rem;
}