// UI班へ
// ピースのCSSは src/features/puzzle/play/Piece/index.module.scss を
// ボード（はめるとこ）のCSSは src/features/puzzle/play/Board/index.module.scss を編集してください
// このコメントはプルリクを送る際には削除してください

.container {
  text-align: center;
}

.preview_image_wrapper {
  position: relative;

  /*完成イラスト*/
  .image {
    position: absolute;
    right: 1rem;
    top: -8rem;
  }
}

.reset_button {
  position: absolute;
  width: 10rem;
  height: 5rem;
  border-radius: 50%;
  left: 0.5rem;
  top: 0.5rem;
}

.board > .piece {
  margin: 0;
}
