.container {
    font-size: 2.5rem;
    background-color: #E0EFFF;
    min-height: 100vh;
    h1 {
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    hr {
        border-top: 1px solid black;
    }
}

.top_line {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18%;
}
.logout {
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}

.menu {
    max-width: max(50%, 480px);
    margin: 3rem auto 0%;
    padding: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    border-radius: 10vh;
    background-color: white;
    font-size: 2.5rem;
}

.first_line {
    display: flex;
    justify-content: space-between;
}

.second_line {
    display: flex;
    justify-content: space-between;
}

.book,
.question,
.seal,
.announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.logout_button {
    display: inline-block;
    color: azure;
    font-weight: bold;
    background-color: #df0013;
    border-bottom: 50% solid #9f000c;
    border-radius: 2rem;
    border-color: #9f000c;
    transition: background-color 0.3s ease;
    top: calc(50% - 0.5rem);
}
.logout_button:hover {
    background-color: #7c000a;
    cursor: pointer;
}

.submit_button {
    width: 12rem;
    height: 5rem;
    box-shadow: none;
    font-size: 1.5rem;
    display: inline-block;
    color: azure;
    font-weight: bold;
    background-color: #00BFFF;
    border-bottom: 50% solid #00BFFF;
    border-radius: 0.5rem;
    border-color: #00BFFF;
    top: calc(50% - 0.5rem);
    transition: background-color 0.3s ease;
}
.submit_button:hover {
    background-color: #0083af;
    cursor: pointer;
}
