.container {
    font-family: arial;
    font-size: 130%;
    margin: 0%;
    width: 50%;
    height: 50%;
    /* 準備 */
    position: relative;
    position:absolute;
    top: 60%;
    text-align: center;
    /*transform: translateY(-25%)*/
    /*background-color #fff;*/
    
    .text{
        margin-left: auto;
        margin-right: auto;
    }
}

.child {
    width: 50%;
    height: 50%;
    /*margin: 0%;*/
    /* 水平・垂直方向の中央揃え */
    position: absolute;
    top: 0%;
    /*left: 115%;*/
    /*transform: translate(-50%, -50%);*/
}

.submit_button {
    display: inline-block;
    color: azure;
    font-weight: bold;
    background-color: #df0013;
    border-bottom: 5% solid #9f000c;
    border-radius: 100vh;
    border-color: #9f000c;
    top: calc(50% - .5em);
    right: 1rem;
}

.submit_button:hover {
    margin-top: 0.18rem;
    border-bottom: 0.12rem solid #9f000c;
    cursor: pointer;
}
