.previousButtonInvalid {
  background-color: gray;
}
.previousButton {
  background-color: lightgray;
}
.nextButton {
  background-color: lightgray;
}
.nextButtonInvalid {
  background-color: gray;
}
.book {
  position: relative;
  z-index: -1;
}