.dropdown {
  display: flex;
}

.menu {
  width: 15rem;
  text-align: center;
}

.menu_title {
  background: #090032;
  color: #ffffff;
  border-radius: 0 1rem 0 0;
}

.sub_menu {
  background: linear-gradient(60deg, hsl(210, 70%, 30%), hsl(210, 70%, 40%), hsl(210, 70%, 50%), hsl(210, 70%, 60%), hsl(210, 70%, 70%), hsl(210, 70%, 80%));
  position: relative;
  border-radius: 0 0 1rem 0;
}

.sub_menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sub_menu > ul > li {
  padding: 10% 0;
}

.sub_menu > ul > li > a {
  display: inline-block;
  color: #ffffff;
}

@media (max-width: 960px) {
  .menu {
    width: 15rem;
  }

  .sub_menu {
    display: none;
  }

  .menu:hover .sub_menu {
    display: block;
  }
}

.menu:hover .sub_menu {
  display: block;
}
