.dropdown {
  display: flex;
}

.menu {
  width: 15rem;
  text-align: center;
}

.menu_title {
  background: #090032;
  color: #ffffff;
}

.sub_menu {
  background: #b9b9b9;
  position: relative;
}

.sub_menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sub_menu > ul > li > a {
  display: none;
  color: #ffffff;
}

.menu:hover a {
  display: inline-block;
}
