.container {
    background-color: #E0EFFF;
    min-height: 100vh;
    h1 {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid black;
    }
    h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1%;
    }
}

.adminmenubar {
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}

.posts {
    max-width: max(50%, 480px);
    margin: 0 auto 0%;
    padding: 1rem;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .posts_button {
            display: flex;
            align-items: center;
        }
        button {
            margin: 0.5rem;
            color: rgb(47, 47, 232);
        }
    }
    hr {
        border-top: 1px solid black;
    }
    button {
        color: rgb(47, 47, 232);
    }
}

.submit_button_field_open {
  margin-top: 1%;
}

.submit_button_field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
.submit_button {
  box-shadow: none;
  font-size: 1.5rem;
  display: inline-block;
  color: azure;
  font-weight: bold;
  background-color: #00bfff;
  border-bottom: 50% solid #00bfff;
  border-radius: 0.5rem;
  border-color: #00bfff;
  top: calc(50% - 0.5rem);
  transition: background-color 0.3s ease;
}
.submit_button:hover {
    background-color: #0083af;
    cursor: pointer;
}
