.container {
    font-size: 150%;
    background-color: #7EC7D8;
    input {
        width: 100%;
        text-align: left;
        border-top-left-radius: 15em;
        border-top-right-radius: 15em;
        border-bottom-left-radius: 15em;
        border-bottom-right-radius: 15em;
        border-radius: 40em 40em 40em 40em;
        border: 0.25em solid palevioletred;
    }
    p {
        font-size: 100%;
        color: purple;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span {
        position: absolute;
        margin-top: 0.7%;
        margin-left: 1%;
    }
}
.header {
    font-size: 180%;
    text-align: center;
}
.form {
    max-width: 50%;
    margin: 0 auto 0%;
    padding: 2em;
    justify-content: space-between;
}
.name {
    display: flex;
}
.english_name {
    display: flex;
}
.lastname,
.firstname {
    width: calc(50% - 2em);
    margin: 1em;
}
.account {
    display: flex;
    flex-direction: column;
}
.email {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.password {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    input[type="checkbox"] {
        width: 1em; 
        height: 1em;
    }
}
.submit_button_field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.submit_button {
    display: inline-block;
    color: azure;
    font-weight: bold;
    background-color: #df0013;
    border-bottom: 5px solid #9f000c;
    border-radius: 100vh;
    border-color: #9f000c;
    top: calc(50% - .5em);
    right: 1rem;
}
.submit_button:hover {
    margin-top: 3px;
    border-bottom: 2px solid #9f000c;
    cursor: pointer;
}