@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");

.turn_calender {
  font-family: "M PLUS Rounded 1c", sans-serif;
  position: relative;
  top: 10%;
  left: 5%;

  button {
    height: 8.8%;
    width: 5%;
  }

  .previousButtonInvalid {
    background-color: gray;
    border-radius: 5%;
  }
  .previousButton {
    background-color: lightgray;
    border-radius: 5%;
  }
  .nextButton {
    background-color: lightgray;
    border-radius: 5%;
  }
  .nextButtonInvalid {
    background-color: gray;
    border-radius: 5%;
  }
}

.information {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 30%;
  height: 40%;
  border: 1px solid black;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

.icon {
  position: absolute;
  right: 5%;
  top: 10%;
  width: 15%;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}

.button_container {
  position: relative;
  top: 70%;
  left: 40%;

  button {
    height: 40%;
    width: 25%;
    font-size: 400%;
    display: inline-block;
    color: rgb(38, 38, 38);
    font-weight: bold;
    transition: filter 0.3s ease;
    top: calc(50% - 0.5rem);
  }

  button:hover {
    cursor: pointer;
    filter: brightness(70%);
  }

  .puzzle_button {
    background-color: rgb(125, 250, 250);
    border-bottom: 50% solid rgb(125, 250, 250);
    border-radius: 0.5rem;
    border-color: rgb(125, 250, 250);
  }

  .reading_button {
    background-color: rgb(255, 128, 153);
    border-bottom: 50% solid rgb(255, 128, 153);
    border-radius: 0.5rem;
    border-color: rgb(255, 128, 153);
    margin: 0 0 0 5%;
  }
}
