.previousButtonInvalid {
  background-color: gray;
}
.previousButton {
  background-color: lightgray;
}
.nextButton {
  background-color: lightgray;
}
.nextButtonInvalid {
  background-color: gray;
}
.information {
  border: 1px solid black;
  height: 100px;
  overflow: auto;
}